body {
	background-color: #A7D2CB;
	font-family: Garamond;
	font-size: 20px;
	color: #874C62;
	text-align: left;
	line-height: 25px;
}

h1 {
	text-align: center;
	margin-bottom: -20px;
}

h2 {
	text-align: center;
	padding-bottom: 15px;
	border-bottom: solid;
	border-bottom-width: 3px;
}


h3 {
	text-decoration: underline;
}

h4, h5 {
	margin-top: 15px;
	margin-bottom: 15px;
}

img {
	border-color: #874C62;
	border-width: 5px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	background-color: #F2D388;
}

#navbar {
	background-color: #F2D388;
	padding: 20px;
	text-align: center;
}

#navbar a {
	color: #C98474;
	font-size: 20px;
	font-family: Garamond;
	padding: 20px;
}

#navbar a:hover {
	background-color: #874C62;
	color: #F2D388;
}

#navbar a.active {
	background-color: #A7D2CB;
	border-style: solid;
	border-color: #F2D388;

}